In [2]:
import pandas as pd

In [6]:
# data structure : dataFrame(matrix)and series(1d array)
dataSet = [10,20,30,40,50,60,70,80,90,100]
ind = ["A","B" ,"C","D","E","F","G","H","I","J"]
series = pd.Series(dataSet , name = "Monthly data")  # 1d array
print(series)

A     10
B     20
C     30
D     40
E     50
F     60
G     70
H     80
I     90
J    100
Name: Monthly data, dtype: int64

In [7]:
dataFrame = {"Name" : ["Himanshu","Kalim", "Yash","Ankit","Shilpa"],
              "Age" : [19,20,21,22,23],
            "Course" :["DANLC" ,"DANLC" ,"JAVA","DANLC","JAVA"]
            }
ind = [1,2,3,4,5]
df = pd.DataFrame(dataFrame , index = ind )

#to update/add a column
df["City"] = ["Mum","Pune","Thane","NM","Vapi"]

#adding multiple columns in a table
newColumns = {
                 "Grade" : ["A","B","A","C","B"],
                 "Div" : ["B","C","B","D","A"],
                 "height" : [177.7,180.9,180.30,165.5,188.4]
}


df["Grade"] = newColumns["Grade"]
df["Div"]= newColumns["Div"]
df["height"]= newColumns["height"]


#adding columns in between
gender = ["Male","Male","Male","Male","Female"]
df.insert(2,"Gender",gender)


#rows manipulation
new_data  = pd.DataFrame([
     {"Name" :"Sapna", "Age":20,"Gender": "Female","City":"Mumbai","Grade":"A","height":178.8},
     {"Name" :"Aishwarya", "Age":20,"Gender": "Female","City":"Mumbai","Grade":"A","height":180},
     {"Name" :"Kavita", "Age":22,"Gender": "Female","City":"Pune","Grade":"A","height":178.8},
      {"Name" :"Snehal", "Age":20,"Gender": "Female","City":"Jodhpur","Grade":"A","height":178.8},
     {"Name" :"Anushka", "Age":20,"Gender": "Female","City":"Delhi","Grade":"A","height":178.8}    
])

df = pd.concat([df,new_data], ignore_index = True)


#adding new row at specific index
new_row  = {"Name" :"Suryakant", "Age":22,"Gender": "Male","City":"Pune","Grade":"A","height":178.8}
df.loc[3.5] =new_row
df = df.sort_index().reset_index(drop =True)


#changing column name
df = df.rename(columns = {"City" : "Address", "Name" :"Student Name","Course" :"Pursuing Course","height" :"Height(cm)"})




#String method manipulation - on column

#check column names
print(df.columns)



#print("Column names in upper case")
print(df.columns.str.upper())

print("Column names in lower case")
df.columns.str.lower()

# first char capital
print(df.columns.str.title())  # java - Java


#replace
print(df.columns.str.replace(' ','_'))


# to remove leading/trailing spaces from column name
df.columns.str.strip()

#padding on columns
# df.columns = df.columns.str.pad(width = 12 , side ='left')


#padding 0's
# df.columns = df.columns.str.zfill(10)


#to get character of column of specific index
#print(df.columns.str.get(0))


#to change specific value of a row
df.loc[10,["Address"]] = ["Gujarat"]

#updating /add new col based on condition
df.loc[df["Grade"] =="A" , 'Remarks'] = 'Passed'
df.loc[df["Grade"] =="B" , 'Remarks'] = 'Distinction'
df.loc[df["Grade"] =="C" , 'Remarks'] = 'Failed'


#delete a row
df = df.loc[df["Student Name"] != "Anushka" ]


# delete a column
df = df.drop("Height(cm)" , axis=1)


# print(df)

#converting data into csv file
filePath = "C:/Users/Anudip/OneDrive - Anudip Foundation for Social Welfare/Documents/DataFrame_Pandas.csv"
# df.to_csv(filePath, index = False, mode='w')
print("File has been converted")

#read csv file
df = pd.read_csv(filePath)
print(df)

Index(['Student Name', 'Age', 'Gender', 'Pursuing Course', 'Address', 'Grade',
       'Div', 'Height(cm)'],
      dtype='object')
Index(['STUDENT NAME', 'AGE', 'GENDER', 'PURSUING COURSE', 'ADDRESS', 'GRADE',
       'DIV', 'HEIGHT(CM)'],
      dtype='object')
Column names in lower case
Index(['Student Name', 'Age', 'Gender', 'Pursuing Course', 'Address', 'Grade',
       'Div', 'Height(Cm)'],
      dtype='object')
Index(['Student_Name', 'Age', 'Gender', 'Pursuing_Course', 'Address', 'Grade',
       'Div', 'Height(cm)'],
      dtype='object')
File has been converted
    Unnamed: 0 Student Name  Age  Gender Pursuing Course  Address Grade  Div  \
0            0     Himanshu   19    Male           DANLC      Mum     A    B
1            1        Kalim   20    Male           DANLC     Pune     B    C
2            2         Yash   21    Male            JAVA    Thane     A    B
3            3        Ankit   22    Male           DANLC       NM     C    D
4            4    Suryakant   22    Male             NaN     Pune     A  NaN
5            5       Shilpa   23  Female            JAVA     Vapi     B    A
6            6        Sapna   20  Female             NaN   Mumbai     A  NaN
7            7    Aishwarya   20  Female             NaN   Mumbai     A  NaN
8            8       Kavita   22  Female             NaN     Pune     A  NaN
9            9       Snehal   20  Female             NaN  Jodhpur     A  NaN
10          10     Amarjeet   20    Male           DANLC   Mumbai     B    A

        Remarks
0        Passed
1   Distinction
2        Passed
3        Failed
4        Passed
5   Distinction
6        Passed
7        Passed
8        Passed
9        Passed
10  Distinction

In [26]:
#read and clean data
filePath = "C:/Users/Anudip/OneDrive - Anudip Foundation for Social Welfare/Documents/DataFrame_Pandas.csv"
df = pd.read_csv(filePath)
# print(df)

#to get the info of data
# print(df.info())

#to describe the dat
# print(df.describe())

#to check distribution/spread of data
print(df["Pursuing Course"].value_counts())   #distribution

print("-------------------------------------------------")
#to get top values
# print(df.head())

#to get last 5 values
# print(df.tail())

#data cleaning 

#duplicates
duplicatesValue = df.duplicated()
print(duplicatesValue)
#to remove duplicates
df.drop_duplicates("Address" , inplace=True)


# drop null/Nan
df.dropna(inplace=True)
print(df)


#check shape of the data
print(df.shape)

#save the file again
df.to_csv(filepath)

Pursuing Course
DANLC    4
JAVA     2
Name: count, dtype: int64
-------------------------------------------------
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool
   Unnamed: 0 Student Name  Age  Gender Pursuing Course Address Grade Div  \
0           0     Himanshu   19    Male           DANLC     Mum     A   B
1           1        Kalim   20    Male           DANLC    Pune     B   C
2           2         Yash   21    Male            JAVA   Thane     A   B
3           3        Ankit   22    Male           DANLC      NM     C   D
5           5       Shilpa   23  Female            JAVA    Vapi     B   A

       Remarks
0       Passed
1  Distinction
2       Passed
3       Failed
5  Distinction
(5, 9)

NameError: name 'filepath' is not defined